   <!-- Page Header-->
        <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <title><%= typeof title !== 'undefined' ? title : 'Post data' %></title>
                            <span class="subheading"><%= typeof desc !== 'undefined' ? desc : 'Test Booking Page' %></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>